streamlit==1.37.1
transformers>=4.43.0
tokenizers>=0.15.2

# Torch CPU wheels من القناة الرسمية
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1

pandas>=2.1.4
numpy>=1.26.4
matplotlib>=3.8.2

# القراءة من PDF/TXT/DOCX
pypdf>=4.2.0
pdfplumber>=0.11.0
pdfminer.six>=20221105
python-docx>=1.1.0
